/*feuille de style*/

/*style global dela page*/
body
{
    overflow-wrap: break-word;
}

.container-header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
   
.right-link{
    display: flex;
}

.container-1{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px 10px 10px;

}

.container-1-left{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.container-2{
    display: flex;
    flex-direction : column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-2-bottom{
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
    justify-content:center;    
}

.container-2-bottom-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.container-3{
    display: flex;
    flex-direction : column ;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    margin-top: 10px;
    padding: 50px;
    gap: 10px;
}

.container-4{
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    justify-content: space-between;
    padding: 10px;
    margin: 5%;    
    align-items: center;
}

.container-4-left{
    display: flex;
    flex-direction : column;
}

.footer{
    background-color: #1F2937;
    text-align: center; 
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    padding: 5px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 5px;
}

h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
    padding: 5px;
}

h3{
    padding: 5px;
}

ul{
    display: flex;
    list-style-type: none;
}

a{
    margin: 5px;
    text-decoration: none;
    color: #e5e7eb;
}

img{
    width: 100px;
    height: 100px;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

.container-2-bottom-image>img{
    border: 1px solid #3882f6;
    padding: 0px;
    border-radius: 15px;
}

.big-image{
    width: 45%;
    height:auto;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 20px;
    border-color: #e5e7eb;
    margin: 5px;
    vertical-align: middle;
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.text{
    text-align: center;    
}

.citation{
    font-style: italic;
    font-weight: lighter;
    width: 80%;
    align-self: center;
}

.source{
    font-weight: bold;
    text-align: right;
    width: 80%;
    padding-right: 0px;
}
